*.webp
*.mp4
*.pdf
*.jpeg
*.jpg
*.png
*.gif
backend/uploads/variants/1743095140723_variant-0-image
backend/uploads/variants/1743095336384_variant-0-image
backend/uploads/variants/1743095408057_variant-0-image
backend/uploads/1743483252317_favicon.ico
backend/uploads/1743752190974_Google-Pay-India-Tez-new-icon.avif
*.avif
